* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: "Helvetica", sans-serif
}

h3, h4 {
	padding-top: 0;
	line-height: 0.5;
	text-align: center;
}


ul {
	list-style-type: none;
	text-align: center;
	padding-left:0px;
}


ul li {
	display: inline;
}

#network-svg {
	display: block;
	position: fixed;
	width: 100%;
	height: 80%;
	z-axis: 1;

	border-style: solid;
	background-color: white;

	color: black;
	font-size: 100%;
}

#menu {
	display: block;
	position: fixed;
	border-style: solid;
	width: 100%;
	height: 20%;
	bottom: 0;
	z-axis: 0;
	background-color: white;
}

ellipse {
	fill: yellow;
	stroke: purple;
	stroke-width: 2;
}