
<html>
<head>
    <title>Network Calculator</title>
    <link rel="stylesheet" href="home.css">
    <script src = "/Users/rawn_sups/Documents/programming/python/network/controller/main-controller.js"></script>
</head>

<body>

<section id = "toolbar">

    <h3>Toolbar</h3>

    <section id = "toolbar-nodes">
        <h4>Nodes</h4>
        <ul>
            <li><button id="create-node" onclick="createNode">Create Node</button></li>
            <li><button id="editNodesButton">Edit Nodes</button></li>
        </ul>
    </section>

    <section id = "toolbar-arcs">
        <h4>Arcs</h4>
        <ul>
            <li><button>Create Arc</button></li>
            <li><button>Edit Arc</button></li>
            <li><button>Delete Arc</button></li>
        </ul>
    </section>

</section>

<section id = "settings">
    <h3>Settings</h3>
    <input type="checkbox" name="arcs" value="directed"> Directed Arcs<br>
</section>

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->