* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: "Helvetica", sans-serif
}

h3, h4 {
	padding-top: 0;
	line-height: 0.5;
	text-align: center;
}

ul {
	list-style-type: none;
	text-align: center;
	padding-left:0px;
}

ul li {
	display: inline;
}

#message-box {
	position: fixed;
}

#network-canvas {
	width: 100%;
    position: fixed;
	height: 80%;
	border-style: solid;
	border-color: hotpink;
}

#toolbar {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 5px;

	border-style: solid;
	border-color: black;

	position: fixed;
	height: 20%;
	width: 100%;

	left: 0;
	right: 0;
	bottom: 0;

}

#toolbar-nodes {
	border-style: solid;
	border-color: red;

	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 5px;

	margin-bottom: 5px;

	position: fixed;
	width: 350px;

	bottom: 0;
}


#toolbar-arcs {
	border-style: solid;
	border-color: blue;

	padding-left: 10px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 5px;

	margin-bottom: 5px;

	width: 350px;
	position: fixed;
	right: 0;
	bottom: 0;
}

#settings {
	border-style: solid;
	border-color: black;

	padding-left: 10px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 5px;

	width: 150px;

	position: fixed;
	top: 5px;
	right: 5px;
}