<!DOCTYPE html>
<html>
    <head>
        <title>Network Calculator</title>
        <link rel="stylesheet" href="style/home.css">
    </head>

    <body onload="createNetwork()">


        <nav id="menu">
	        <ul>
		        <h3>Toolbar</h3>
		        <li> <button id = "addButton" onclick ="addNode()"> add node </button> </li>
		        <li> <button id = "connectButton" onclick=""> connect two nodes </button> </li>
		        <li> <button id = "saveButton" onclick=""> save network </button></li>
		        <li> <input title="directed" type="checkbox" name="arcs" value="directed"> Directed Arcs</li>
	        </ul>
        </nav>
        <section id="network-svg" ondrop="" ondragover="">

        </section>

    </body>
    <script type = "text/javascript" src="../controller/main-controller.js"></script>
    <script type = "text/javascript" src="../model/node.js"></script>
    <script type = "text/javascript" src="../model/network.js"></script>
</html>
